<div class="row justify-content-center pre-scrollmenu">    
    <div class="col-12 col-md-8">
        <div class='scrollmenu'>
            <ul >
                <li><a href="{{ url_for('category', category='electronics') }}"><i class="fa-solid fa-plug fa-xl"></i> Elektroniikka</a></li>
                <li><a href="{{ url_for('category', category='gaming') }}"><i class="fa-solid fa-gamepad fa-xl"></i> Gaming</a></li>
                <li><a href="{{ url_for('category', category='clothing') }}"><i class="fa-solid fa-tshirt fa-xl"></i> Vaatteet ja Muoti</a></li>
                <li><a href="{{ url_for('category', category='food') }}"><i class="fa-solid fa-utensils fa-xl"></i> Ruoka ja Elintarvikeet</a></li>
                <li><a href="{{ url_for('category', category='vehicles') }}"><i class="fa-solid fa-car fa-xl"></i> Ajoneuvot ja Koneet</a></li>
                <li><a href="{{ url_for('category', category='travels') }}"><i class="fa-solid fa-plane fa-xl"></i> Matkat</a></li>
                <li><a href="{{ url_for('category', category='cinema') }}"><i class="fa-solid fa-masks-theater fa-xl"></i> Elokuvat ja Kirjat</a></li>
                <li><a href="{{ url_for('category', category='health_beauty') }}"><i class="fa-regular fa-heart fa-xl"></i> Terveys ja kauneus</a></li>
                <li><a href="{{ url_for('category', category='home_garden') }}"><i class="fa-solid fa-home fa-xl"></i> Koti ja Puutarha</a></li>
                <li><a href="{{ url_for('category', category='services') }}"><i class="fa-solid fa-tools fa-xl"></i> Palvelut</a></li>
                <li><a href="{{ url_for('category', category='courses_education') }}"><i class="fa-solid fa-graduation-cap fa-xl"></i> Kurssit ja Koulutukset</a></li>
               
            </ul>
        </div>
    </div>
    </div>
</div>