<footer class="footer">
    <div class="focontainer">
        <!-- Social Media Icons -->
        <div class="social-icons">
            <a href="#" class="icon-link mx-2">
                <i class="fa-brands fa-instagram fa-2xl"></i>
            </a>
            <a href="#" class="icon-link mx-2">
                <i class="fa-brands fa-twitter fa-2xl"></i>
            </a>
            <a href="#" class="icon-link mx-2">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="#" class="icon-link mx-2">
                <i class="fa-brands fa-linkedin-in fa-2xl"></i>
            </a>
        
        <!-- Copyright Text -->
        <div class="text-center py-3">
            <p >All rights reserved. Copyright: Diilit.fi</p>
            <p > Project 2 - Web-Ohjelmointi Kurssi 2023 </p>
            </div>
        </div>
    </div>
</footer>