<!-- header.html -->

<div class="topnav" id="myTopnav">
  <a href="{{ url_for('index') }}" class="active">Etusivu</a>
  
  {% if current_user.is_authenticated %}
  
    <a href="{{ url_for('my_profile')}}" class="d-lg-none"> <!-- Ocultar en pantallas grandes -->
      <img src="{{ current_user.profile_picture }}" class="rounded-circle" alt="Profile Picture" width="32" height="32">
      <span class="ml-2">{{ current_user.username }}</span>
    </a>
    <a class="nav-link d-lg-none" href="{{ url_for('logout') }}"> <!-- Ocultar en pantallas grandes -->
      <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i> Kirjaudu ulos
    </a>
    <a href="{{ url_for('upload_deal_form') }}" class=" d-lg-none btn btn-primary" style="width: 40%;background-color:#FAB301; color:black; border:none;" >Jaa uusi tarjous</a>
    <div class="d-none d-lg-flex justify-content-end align-items-center"> <!-- Mostrar solo en pantallas grandes -->
      <a href="{{ url_for('upload_deal_form') }}" style="background-color: #FAB301; color:#000;">Jaa uusi tarjous</a>
      <a href="{{ url_for('my_profile')}}" class="mr-3">
        <img src="{{ current_user.profile_picture }}" class="rounded-circle" alt="Profile Picture" width="38" height="34">
        <span class="ml-2">{{ current_user.username }}</span>
      </a>
      <a class="nav-link" href="{{ url_for('logout') }}">
        <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i> Kirjaudu ulos
      </a>
    </div>
  {% else %}
  
    <a href="{{ url_for('login') }}">Kirjaudu</a>
    <a href="{{ url_for('register') }}">Rekisteröidy</a>
  {% endif %}
  
  
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<script src="{{ url_for('static', filename='js/toggle_nav.js') }}"></script>

